<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css" />
        <link href="/style.css" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <title>Error!</title>
    <body>
        <div class="container">
            Error: {{errorObject.type}}<br />
            {{errorObject.description}}<br />
            <a href="/">Return to About Page</a>
        </div>
    </body>
</html>
