body {
    background: #222222;
    color: #BAFCC0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.0em;
}

p {
    color: #CCC;
}

i.wi{
    font-size: 5rem;
    padding: 0.5rem 0 1.25rem 0;
}